<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bs.job.service.config.dao.SysConfigMapper" >
  <select id="getList" resultType="com.bs.job.service.config.model.SysConfig" parameterType="com.bs.job.service.config.model.SysConfig" >
    select * from sys_config
    where 1=1
    <if test="id != null" >
      and id = #{id}
    </if>
    <if test="introducePicUrl != null" >
      and introduce_pic_url = #{introducePicUrl}
    </if>
    <if test="copyright != null" >
      and copyright = #{copyright}
    </if>
    <if test="createUserId != null" >
      and create_user_id = #{createUserId}
    </if>
    <if test="createTime != null" >
      and create_time = #{createTime}
    </if>
    <if test="updateUserId != null" >
      and update_user_id = #{updateUserId}
    </if>
    <if test="updateTime != null" >
      and update_time = #{updateTime}
    </if>
    <if test="logoPicUrl != null" >
      and logo_pic_url = #{logoPicUrl}
    </if>
  </select>
  
  <select id="getSingle" resultType="com.bs.job.service.config.model.SysConfig" >
    select * from sys_config
    where id = #{id}
    limit 0,1
  </select>
  
  <insert id="insert" parameterType="com.bs.job.service.config.model.SysConfig" >
    insert into sys_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="introducePicUrl != null" >
        introduce_pic_url,
      </if>
      <if test="copyright != null" >
        copyright,
      </if>
      <if test="createUserId != null" >
        create_user_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateUserId != null" >
        update_user_id,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="logoPicUrl != null" >
        logo_pic_url
      </if>
    </trim>
    <trim prefix="values(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id},
      </if>
      <if test="introducePicUrl != null" >
        #{introducePicUrl},
      </if>
      <if test="copyright != null" >
        #{copyright},
      </if>
      <if test="createUserId != null" >
        #{createUserId},
      </if>
      <if test="createTime != null" >
        #{createTime},
      </if>
      <if test="updateUserId != null" >
        #{updateUserId},
      </if>
      <if test="updateTime != null" >
        #{updateTime},
      </if>
      <if test="logoPicUrl != null" >
        #{logoPicUrl}
      </if>
    </trim>
  </insert>
  
  <update id="update" parameterType="com.bs.job.service.config.model.SysConfig" >
    update sys_config
    <set >
      <if test="introducePicUrl != null" >
        introduce_pic_url = #{introducePicUrl},
      </if>
      <if test="copyright != null" >
        copyright = #{copyright},
      </if>
      <if test="createUserId != null" >
        create_user_id = #{createUserId},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime},
      </if>
      <if test="updateUserId != null" >
        update_user_id = #{updateUserId},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime},
      </if>
      <if test="logoPicUrl != null" >
        logo_pic_url = #{logoPicUrl}
      </if>
    </set>
    where
    id = #{id}
  </update>
  
  <delete id="batchDelete" >
    delete from sys_config
    where id in(
    <foreach item="item" collection="list" separator="," >
      #{item}
    </foreach>
    )
  </delete>
  
  <select id="getListWithPage" resultType="com.bs.job.service.config.model.SysConfig" parameterType="com.bs.job.service.config.model.SysConfig" >
    select * from sys_config
    where 1=1
    <if test="id != null" >
      and id = #{id}
    </if>
    <if test="introducePicUrl != null" >
      and introduce_pic_url = #{introducePicUrl}
    </if>
    <if test="copyright != null" >
      and copyright = #{copyright}
    </if>
    <if test="createUserId != null" >
      and create_user_id = #{createUserId}
    </if>
    <if test="createTime != null" >
      and create_time = #{createTime}
    </if>
    <if test="updateUserId != null" >
      and update_user_id = #{updateUserId}
    </if>
    <if test="updateTime != null" >
      and update_time = #{updateTime}
    </if>
    <if test="logoPicUrl != null" >
      and logo_pic_url = #{logoPicUrl}
    </if>
  </select>
  
  <select id="count" resultType="java.lang.Long" parameterType="com.bs.job.service.config.model.SysConfig" >
    select count(*) from sys_config
    where 1=1
    <if test="id != null" >
      and id = #{id}
    </if>
    <if test="introducePicUrl != null" >
      and introduce_pic_url = #{introducePicUrl}
    </if>
    <if test="copyright != null" >
      and copyright = #{copyright}
    </if>
    <if test="createUserId != null" >
      and create_user_id = #{createUserId}
    </if>
    <if test="createTime != null" >
      and create_time = #{createTime}
    </if>
    <if test="updateUserId != null" >
      and update_user_id = #{updateUserId}
    </if>
    <if test="updateTime != null" >
      and update_time = #{updateTime}
    </if>
    <if test="logoPicUrl != null" >
      and logo_pic_url = #{logoPicUrl}
    </if>
  </select>
  
</mapper>